/* CREDIT */
/* https://github.com/d00m1k/SimpleBlueColorWaybar */

* {
    /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
    /* font-family: "DejaVu Sans Mono"; */
    font-family: "JetBrainsMono NFP";
    font-size: 14px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: transparent;
    color: #08adff;
    font-family: "DejaVu Sans Mono";
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right {
    /* background: rgba(10, 0, 14, 0.7); */
    background: rgba(10, 0, 14, 0.75);
    padding: 0px 5px;
    margin: 0px 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.modules-left {
    padding: 0;
}

.modules-center {
    padding: 0 10px;
    font-weight: 700;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 10px 10px;
    border-radius: 10px;
}

#battery, #clock {
    padding: 0px 10px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: rgba(24, 18, 27, 0.9);
}


#workspaces button {
    background: transparent;
    /* font-family: */
    /*   SpaceMono Nerd Font, */
    /*   feather; */
    font-weight: 900;
    /* font-size: 13pt; */
    color: #cec0f5;
    border: none;
    border-radius: 10px;
}

#workspaces button.active {
    background: rgba(24, 18, 27, 1);
    color: #08adff;
}

#workspaces button:hover {
    background: rgba(24, 18, 27, 1);
    color: #cec0f5;
    box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}

#custom-arch:hover {
    color: #1793d1;
}

#custom-lockscreen {
    padding: 0px 15px 0px 10px;
    /* padding: 0px 10px; */
    /* color: #eeeeee; */
    border-radius: 10px;
}

#custom-lockscreen:hover {
    background: rgba(24, 18, 27, 0.9);
}


/* TODO FIX */
window#waybar.empty .modules-center {
    background: transparent;
}
